<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />



        <application

            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label=""
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Segunda_Etapa"
            android:usesCleartextTraffic="true">

        <activity
                android:name=".UI.MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <service
                android:name=".Services.LocationService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="location" />
            <service
                android:name=".Services.BackgroundDataSendService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="location" />
            <activity
                android:name=".UI.CalcActivity"
                android:exported="false"/>

            <activity
                android:name=".UI.MusicPlayer"
                android:exported="false"/>
            <activity
                android:name=".UI.LocationActivity"
                android:exported="false"/>
            <activity
                android:name=".UI.TelephonyActivity"
                android:exported="false"/>
            <activity
                android:name=".UI.DataSendActivity"
                android:exported="false"/>
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </application>

    </manifest>